@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  :root{
    @apply antialiased;
    /* @apply transition-all;
    @apply delay-150; */
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.specialInput,.sayingTitleInput{
  border: none !important;
  border-color: transparent !important;
}

.specialInput{
  padding-left: 0 !important;
}

.sayingTitleInput{
  padding: 0 !important;
  font-size: 1.25rem/* 20px */ !important;
  line-height: 1.75rem/* 28px */ !important;
}


